{% extends 'baseAdmin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h2>Dashboard</h2>
            <h5>Welcome {{ app.user.username }}, Love to see you back. </h5>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-back noti-box">
                <span class="icon-box bg-color-red set-icon">
                    <i class="fa fa-book"></i>
                </span>
                <div class="text-box" >
                   <p class="main-text">{{ nbCourses }} <a href="{{ path('admin_courses') }}">Courses</a> </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-back noti-box">
                <span class="icon-box bg-color-green set-icon">
                    <i class="fa fa-users"></i>
                </span>
                <div class="text-box" >
                    <p class="main-text">{{ nbStudents }} <a href="{{ path('admin_students') }}">Students</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-back noti-box">
                <span class="icon-box bg-color-blue set-icon">
                    <i class="fa fa-user"></i>
                </span>
                <div class="text-box" >
                    <p class="main-text">{{ nbProfessor }}  <a href="{{ path('admin_professors') }}">Professor</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="panel panel-back noti-box">
                <span class="icon-box bg-color-black set-icon">
                    <i class="fa fa-lock"></i>
                </span>
                <div class="text-box" >
                    <p class="main-text">{{ nbAdmin  }} Admin</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /. ROW  -->
    <hr />
    <!-- /. ROW  -->
    <div class="row">


        <div class="col-md-9 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Bar
                </div>
                <div class="panel-body">
                    <div id="morris-bar-chart"></div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="panel panel-primary text-center no-boder bg-color-green">
                <div class="panel-body">
                    <i class="fa fa-bar-chart-o fa-5x"></i>
                    <h3>120 GB </h3>
                </div>
                <div class="panel-footer back-footer-green">
                    Disk Space Available

                </div>
            </div>
            <div class="panel panel-primary text-center no-boder bg-color-red">
                <div class="panel-body">
                    <i class="fa fa-edit fa-5x"></i>
                    <h3>20,000 </h3>
                </div>
                <div class="panel-footer back-footer-red">
                    Articles Pending

                </div>
            </div>
        </div>

    </div>
    <!-- /. ROW  -->
    <div class="row" >

    {% endblock %}
